@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-black;
}

span {
  @apply text-white;
}

.paragraph {
  @apply pb-4 pt-0;
}

@layer utilities {
  .gradient {
    @apply bg-gradient-to-r from-deepBlue  to-typescriptBlue;
  }
  .gradient-to-bottom {
    @apply bg-gradient-to-b from-typescriptBlue to-deepBlue;
  }
  @variants dark {
    .gradient-dark {
      @apply bg-gradient-to-r from-deepBlue via-deepBlue to-deepBlue;
    }
    .gradient-to-bottom-dark {
      @apply bg-gradient-to-b from-deepBlack to-deepBlue;
    }
  }
}

@font-face {
  font-family: 'SourceCode';
  src: url('../fonts/SourceCodePro-Regular.ttf');
}

/* animation */

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(-15px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(10px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

.popup-content {
  @apply bg-typescriptBlue !important;
  animation: anvil 0.5s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

[role='tooltip'].popup-content {
  width: 300px !important;
  outline: none;
  border: none;
  @apply shadow-lg !important;
}

.popup-arrow {
  display: none;
  @apply text-typescriptBlue !important;
}

.bm-burger-button {
  height: 0;
}

.bm-burger-button button {
  position: relative !important;
  /* height: 0 !important; */
}

.bm-menu-wrap {
  @apply bg-typescriptBlue border-l;
}

.bm-overlay {
  background: transparent !important;
}

.main-grid {
  display: grid;
  grid-template-columns: 320px 1fr;
}

.main-grid-no-sidebar {
  display: grid;
  grid-template-columns: minmax(0, 320px) 1fr;
  grid-auto-flow: column;
}

.main-grid-column-transition {
  transition-property: width, padding;
  transition-delay: 1s, 1s;
  transition-timing-function: ease-in-out, ease-in-out;
}

.main-grid-x-transition {
  transition-property: transform;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
}

.main-grid-no-sidebar-column {
  width: calc(100% + 320px);
  transform: translateX(-320px);
}

.bouncing-container {
  margin: 0 auto;
  overflow: hidden;
}
.bouncing-item {
  @apply block bg-no-repeat;
  width: 40px;
  height: 40px;
  position: absolute;
  -webkit-animation: moveX 16.05s linear 0s infinite alternate,
    moveY 16.4s linear 0s infinite alternate;
  -moz-animation: moveX 16.05s linear 0s infinite alternate,
    moveY 16.4s linear 0s infinite alternate;
  -o-animation: moveX 16.05s linear 0s infinite alternate,
    moveY 16.4s linear 0s infinite alternate;
  animation: moveX 16.05s linear 0s infinite alternate,
    moveY 16.4s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 40px);
  }
}
@-moz-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 40px);
  }
}
@-o-keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 40px);
  }
}
@keyframes moveX {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 40px);
  }
}
@-webkit-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: calc(100% - 40px);
  }
}
@-moz-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: calc(100% - 40px);
  }
}
@-o-keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: calc(100% - 40px);
  }
}
@keyframes moveY {
  from {
    top: 0;
  }
  to {
    top: calc(100% - 40px);
  }
}

.blink {
  animation: blink-animate 1.2s ease-in-out infinite;
}

@keyframes blink-animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.typewriter-text {
  @apply overflow-hidden;
  animation: typing 100s steps(12, end) forwards;
  white-space: nowrap;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.list-item-card-paragraph {
  @apply pt-4 pl-4;
}
